body {
    font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
    max-width: 640px;
    margin: 0 auto;
    padding-top: 72px;
    -webkit-font-smoothing: antialiased;
    font-size: 1.125em;
    color: #333;
    line-height: 1.5em;
}

table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

.button:disabled,
.button[disabled]{
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 18px;
  background-color: gray;
  border: solid 1px transparent;
  text-align: center;
  margin: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.button {
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  text-align: center;
  margin: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.button-delete {
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 18px;
  background-color: crimson;
  border: solid 1px transparent;
  text-align: center;
  margin: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

/* 
  INPUT
*/

.error-label {
  display: none;
  color: red;
}

input {
  /* font-family: inherit; */
  width: 100%;
  border: 0;
  border-bottom: 2px solid cornflowerblue;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.box select {
  /* font-family: inherit; */
  width: 100%;
  border: 0;
  border-bottom: 2px solid cornflowerblue;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.box::before {
  content: "\f13a";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}
/* 
  INPUT 
*/

h1, h2, h3 {
    color: #000;
}

h1 {
  font-size: 2.5em
}
  
h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}


#header-links {
    padding: 10px;
}

h1 {
    color: cornflowerblue
}
